<div class="component-header">
  <h2>Device Messages</h2>
  <em>View device message history</em>
</div>
<div class="component-body">
  <h5>Messages</h5>
  <ng-container *ngIf="messages">
    <table class="table table-hover table-light">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Timestamp</th>
          <th scope="col">Topic</th>
          <th scope="col">Client</th>
          <th scope="col">Content</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of messages
            | paginate: { id: 'messages',
                          itemsPerPage: pageSize,
                          currentPage: curPage,
                          totalItems: totalEntries }">
          <td>{{entry.id}}</td>
          <td>{{entry.timestamp}}</td>
          <td>{{entry.topicName}}</td>
          <td>{{entry.clientId}}</td>
          <td>{{entry.content}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls id="messages" (pageChange)="handlePageChange($event)"></pagination-controls>
  </ng-container>
</div>
