@import "src/assets/scss/_mixins";

:host {
  display: block;
  width: 100%;

  label {
    @include input-field();
  }

  input {
    padding: 2px;
  }

  &.ng-invalid:not(.ng-untouched) {
    label {
      border: 1px solid $error-color;

      span, i {
        color: $error-color;
      }
    }
  }
}
