$error-color: red;
$error-color-dark: #A60000;
$success-color: #28A745;
$text-color: #252933;
$text-color-lighter: #515C6F;
$btn-color-primary: hsl(0, 100%, 71%);
$btn-color-disabled: #b1bbc4;
$btn-color-secondary: #727c8e;
$btn-border-radius: 1.5rem;
