@import "src/assets/scss/_mixins";

html {
  display: flex;
  flex-direction: column;
  color: $text-color;
  * {
    box-sizing: border-box;
  }
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  flex: 1;
}

.container {
  padding: 2rem 9rem;
  @media print {
    padding: 0;
  }
}

.invalid {
  color: $error-color;
}

h1 {
  color: #515c6f;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.title {
  margin-bottom: 2rem;

  & > * {
    margin: 0;
  }
}

.sub-header {
  width: 100%;
  background-color: #dedfe0;
  padding: 12px 19px;
  border-radius: 18px;
  box-sizing: border-box;
}

a {
  font-weight: normal;
  color: red;
  text-decoration: none;

  &:hover {
    color: red;
  }
}

/* -------------------------------------------------
   Buttons
   ------------------------------------------------- */

button {
  cursor: pointer;
}

.btn {
  @include button($btn-color-secondary);



  &.btn-primary {
    @include button($btn-color-primary);
    padding-left: 16px;
  }
}

.btn.btn-primary.backorder {
  background: #B50D26;

  &:after {
    color: #B50D26;
  }
}

span.backorder {
  display: inline-block;
  min-width: 100px;
  max-width: 150px;
  margin: 1.5rem 0;
  padding: .75rem .5rem;
  background: #B50D26;
  border-radius: 18px;
  color: white;
  font-weight: bold;
  font-size: .85rem;
  text-transform: uppercase;
  text-align: center;
}

/* -------------------------------------------------
   Inputs
   ------------------------------------------------- */

input,
textarea,
select {
  padding: 11px;
  font-size: 12px;
  color: #727c8e;
  border: 1px solid #e3e5e8;
  border-radius: 10px;
  background-color: white;

  &:disabled {
    background-color: #eeeeee;
  }
}

input[type=file] {
  padding: 0;

  &::-webkit-file-upload-button {
    margin-right: 1rem;
    padding: 14px;
    font-size: 12px;
    color: #727c8e;
    border: none;
    border-right: 1px solid #e3e5e8;
    border-radius: 0;
    background: none;
  }
}

/* -------------------------------------------------
   Toolbar
   ------------------------------------------------- */

.toolbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #f0f1f2;
  border-radius: 18px;
  margin-bottom: 1.5rem;

  max-width: calc(100vw - 2rem);
  label {
    margin-right: 1rem;
  }
}
