<div class="component-header">
  <h2>Topic Management</h2>
  <em>Create and manage device topics</em>
</div>
<div class="component-body">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h4>Add New Topic</h4>
    <h5>New Topic</h5>
    <div class="row my-4">
      <div class="col-4">
        <div class="form-outline">
          <select name="broker" formControlName="broker" (change)="onSelectBroker()" class="custom-select">
            <option disabled>Select Broker</option>
            <option *ngFor="let b of (brokers | activeBrokers)" [ngValue]="b">{{ b.host }}</option>
          </select>
          <label class="form-label required mt-2" for="broker">Broker</label>
        </div>
      </div>
      <app-field-error-display
        [displayError]="isFieldValid('broker')"
        errorMsg="Broker is required">
      </app-field-error-display>
    </div>

    <div class="row my-4">
      <div class="col-4">
        <div class="form-outline">
          <input type="text" name="name" formControlName="name" class="form-control"/>
          <label class="form-label required mt-2" for="name">Name</label>
        </div>
      </div>
      <app-field-error-display
        [displayError]="isFieldValid('name')"
        errorMsg="Name is required">
      </app-field-error-display>
    </div>

    <div class="row my-4">
      <div class="col-4">
        <button *ngIf="!submitted && !topicAdded" type="submit" class="btn create">Create</button>
        <button *ngIf="!submitted" type="button" (click)="onBackClick()" class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </form>
</div>
