<div class="component-header">
  <h2>Device Management</h2>
  <em>Create and manage devices</em>
</div>
<div class="component-body">
  <button class="btn btn-primary float-right" (click)="onAddDevice()">+ Add Device</button>
  <ng-container *ngIf="devices">
    <table class="table table-hover table-light">
      <thead class="thead-primary">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Status Topic</th>
          <th scope="col">Control Topic</th>
          <th scope="col">Active</th>
          <th scope="col">Created</th>
          <th scope="col">Modified</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dev of devices
            | paginate: { id: 'devices',
                          itemsPerPage: pageSize,
                          currentPage: curPage,
                          totalItems: totalEntries }">
          <td>{{ dev.name }}</td>
          <td>{{ dev.statusTopic && dev.statusTopic.name }}</td>
          <td>{{ dev.controlTopic && dev.controlTopic.name }}</td>
          <td>{{ dev.isActive }}</td>
          <td>{{ dev.createdDate | date:'medium' }}</td>
          <td>{{ dev.modifiedDate | date:'medium' }}</td>
          <td>
            <button *ngIf="dev.isActive" class="btn btn-danger" (click)="activateOrDeactivateDevice(dev)">Deactivate</button>
            <button *ngIf="!dev.isActive" class="btn btn-success" (click)="activateOrDeactivateDevice(dev)">Activate</button>
            <button class="btn create" (click)="onEditDevice(dev)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls id="devices" (pageChange)="handlePageChange($event)"></pagination-controls>
  </ng-container>
</div>
