<div class="component-header">
  <h2>Device Management</h2>
  <em>Create and manage devices</em>
</div>
<div class="component-body">
  <button class="btn btn-primary float-right">+ Add Device</button>
  <ng-container *ngIf="devices">
    <table class="table table-hover table-light">
      <thead class="thead-primary">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Status Topic</th>
          <th scope="col">Control Topic</th>
          <th scope="col">Active</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dev of devices">
          <td>{{ dev.name }}</td>
          <td>{{ dev.statusTopic.name }}</td>
          <td>{{ dev.controlTopic && dev.controlTopic.name }}</td>
          <td>{{ dev.isActive }}</td>
          <td>
            <button *ngIf="dev.isActive" class="btn btn-danger" (click)="activateOrDeactivateDevice(dev)">Deactivate</button>
            <button *ngIf="!dev.isActive" class="btn btn-success" (click)="activateOrDeactivateDevice(dev)">Activate</button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
