<div class="component-header">
  <h2>Access Control User Management</h2>
  <em>Create and Manage Access Control Users</em>
</div>
<div class="component-body">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h4>Add New Card User</h4>
    <h5>New Card User</h5>
    <div class="row my-4">
      <div class="col-4">
        <div class="form-outline">
          <input type="text" name="name" formControlName="name" class="form-control"/>
          <label class="form-label required mt-2" for="name">Name</label>
        </div>
      </div>
      <app-field-error-display
        [displayError]="isFieldValid('name')"
        errorMsg="Name is required">
      </app-field-error-display>
    </div>

    <div class="row my-4">
      <div class="col-4">
        <div class="form-outline">
          <input type="text" name="pin" formControlName="pin" class="form-control"/>
          <label class="form-label required mt-2" for="pin">Pin</label>
        </div>
      </div>
      <app-field-error-display
        [displayError]="isFieldValid('pin')"
        errorMsg="Pin is required">
      </app-field-error-display>
    </div>

    <div class="row my-4">
      <div class="col-4">
        <button *ngIf="!submitted && !userAdded" class="btn create mr-2" type="submit">Create</button>
        <button *ngIf="!submitted" class="btn btn-danger" type="button" (click)="onBackClick()">Cancel</button>
      </div>
    </div>
  </form>
</div>
