<div class="component-header">
  <h2>User Management</h2>
  <em>Create and manage users</em>
</div>
<div class="component-body">
  <button class="btn btn-primary float-right" (click)="onAddUser()">+ Add User</button>
  <ng-container *ngIf="users">
    <table class="table table-hover table-light">
      <thead class="thead-primary">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Email</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Locked Out</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users">
          <td>{{u.id}}</td>
          <td>{{u.email}}</td>
          <td>{{u.firstName}}</td>
          <td>{{u.lastName}}</td>
          <td>{{u.lockoutEnabled}}</td>
          <td>
            <button type="buton" class="btn btn-danger" (click)="onManageClick(u)">Manage</button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
