<div class="component-header">
  <h2>User Management</h2>
  <em>Create and manage users</em>
</div>
<div class="component-body">
  <button class="btn btn-primary float-right" (click)="onAddUser()">+ Add User</button>
  <ng-container *ngIf="users">
    <table class="table table-hover table-light">
      <thead class="thead-primary">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users">
          <td>{{u.id}}</td>
          <td>{{u.userName}}</td>
          <td>{{u.email}}</td>
          <td>{{u.phoneNumber}}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
