<div class="component-header">
  <h2>User Management</h2>
  <em>Create and manage users</em>
</div>
<div class="component-body">
  <form [formGroup]="form" (submit)="submit()">
    <h4>Add New User</h4>
    <h5>New User</h5>
    <div class="row my-4">
      <div class="col-4">
        <div class="form-outline">
          <input type="text" name="username" formControlName="username" class="form-control"/>
          <label class="form-label required mt-2" for="username">Username</label>
        </div>
      </div>
      <app-field-error-display
        [displayError]="isFieldValid('username')"
        errorMsg="User is required">
      </app-field-error-display>
    </div>

    <div class="row my-4">
      <div class="col-4">
        <div class="form-outline">
          <input type="password" name="password" formControlName="password" class="form-control"/>
          <label class="form-label required mt-2" for="password">Password</label>
        </div>
      </div>
      <app-field-error-display
        [displayError]="isFieldValid('password')"
        errorMsg="Valid password required">
      </app-field-error-display>
    </div>

    <div class="row my-4">
      <div class="col-4">
        <div class="form-outline">
          <input type="email" name="email" formControlName="email" class="form-control"/>
          <label class="form-label required mt-2" for="email">E-Mail</label>
        </div>
      </div>
      <app-field-error-display
        [displayError]="isFieldValid('email')"
        errorMsg="E-mail is required">
      </app-field-error-display>
    </div>

    <div class="row my-4">
      <div class="col-4">
        <div class="form-outline">
          <input type="text" name="phone" formControlName="phone" class="form-control"/>
          <label class="form-label mt-2" for="phone">Phone</label>
        </div>
      </div>
    </div>

    <div class="row my-4">
      <div class="col-4">
        <button *ngIf="!submitted && !registered" type="submit" class="btn create">Register</button>
        <button *ngIf="!submitted" type="button" (click)="onBackClick()" class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </form>
</div>
