<div class="component-header">
  <h2>Integrations</h2>
  <em>Control and Monitor Device Integrations</em>
</div>
<div class="component-body">
  <h5>CyLights</h5>
  <button class="btn mr-2 float-right" (click)="onBackClick()">Back</button>
  <ng-container *ngIf="device">
    <div class="row my-4">
      <div class="col-4">
        <label class="form-label mt-2">Name: {{device.name}}</label><br/>
        <label class="form-label mt-2">Class: {{device.class}}</label><br/>
        <label class="form-label mt-2">System ID: {{state && state.client_id}}</label><br/>
        <label class="form-label mt-2">Firmware version: {{state && state.firmwareVersion}}</label><br/>
        <label class="form-label mt-2">Control</label><br/>
        <mat-select *ngIf="state" (selectionChange)="onOperationSelect($event)" class="custom-select" placeholder="Select Operation">
          <mat-option *ngFor="let cmd of commands" [value]="cmd">{{cmd.friendlyName}}</mat-option>
        </mat-select>
        <label class="form-label mt-2">System State: {{state && getStateName(state.systemState)}}</label><br/>
        <label class="form-label mt-2">Light 1 State: {{state && getOutletState(state.light1State)}}</label>&nbsp;&nbsp;
        <mat-slide-toggle *ngIf="state" aria-label="light_1" (change)="onLight1Clicked($event)"></mat-slide-toggle><br/>
        <label class="form-label mt-2">Light 2 State: {{state && getOutletState(state.light2State)}}</label>&nbsp;&nbsp;
        <mat-slide-toggle *ngIf="state" aria-label="light_2" (change)="onLight2Clicked($event)"></mat-slide-toggle><br/>
        <label class="form-label mt-2">Light 3 State: {{state && getOutletState(state.light3State)}}</label>&nbsp;&nbsp;
        <mat-slide-toggle *ngIf="state" aria-label="light_3" (change)="onLight3Clicked($event)"></mat-slide-toggle><br/>
        <label class="form-label mt-2">Light 4 State: {{state && getOutletState(state.light4State)}}</label>&nbsp;&nbsp;
        <mat-slide-toggle *ngIf="state" aria-label="light_4" (change)="onLight4Clicked($event)"></mat-slide-toggle><br/>
        <label class="form-label mt-2">Light 5 State: {{state && getOutletState(state.light5State)}}</label>&nbsp;&nbsp;
        <mat-slide-toggle *ngIf="state" aria-label="light_5" (change)="onLight5Clicked($event)"></mat-slide-toggle><br/>
        <label class="form-label mt-2">All Lights:</label>&nbsp;&nbsp;
        <mat-slide-toggle *ngIf="state" aria-label="all_lights" (change)="onAllLightsClicked($event)"></mat-slide-toggle><br/>
      </div>
    </div>
  </ng-container>
</div>
