<div class="component-header">
  <h2>Password Reset</h2>
  <em>Reset the password for the current user</em>
</div>
<div class="component-body">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row my-4">
      <div class="col-4">
        <div class="form-outline">
          <label class="form-label required mt-2" for="password">New Password:&nbsp;&nbsp;</label>
          <input name="password" formControlName="newPassword" type="password" class="formControl" />
        </div>
      </div>
      <app-field-error-display
        [displayError]="isFieldValid('newPassword')"
        errorMessage="Must specify a new password">
      </app-field-error-display>
    </div>

    <div class="row my-4">
      <div class="col-4">
        <button type="submit" class="btn create mr-2">Reset</button>
        <button type="button" (click)="onBackClick()" class="btn btn-danger">Cancel</button>
      </div>
    </div>
  </form>
</div>
