<div class="component-header">
  <h2>Integrations</h2>
  <em>Control and Monitor Device Integrations</em>
</div>
<div class="component-body">
  <h5>CySump</h5>
  <button class="btn create float-right" (click)="onBackClick()">Back</button>
  <ng-container *ngIf="device">
    <div class="row my-4">
      <div class="col-4">
        <label class="form-label mt-2">Name: {{device.name}}</label><br/>
        <label class="form-label mt-2">Class: {{device.class}}</label><br/>
        <label class="form-label mt-2">System ID: {{state && state.client_id}}</label><br/>
        <label class="form-label mt-2">Firmware version: {{state && state.firmwareVersion}}</label><br/>
        <label class="form-label mt-2">System State: {{state && getStateName(state.systemState)}}</label><br/>
        <label class="form-label mt-2">Water Level: {{state && state.waterLevelPercent}}%</label><br/>
        <label class="form-label mt-2">Sump Pump: {{state && state.pumpState}}&nbsp;&nbsp;</label>
        <mat-button-toggle-group *ngIf="state" #group="matButtonToggleGroup" (change)="onPumpStateSelect($event)">
          <mat-button-toggle value="Start">Start</mat-button-toggle>
          <mat-button-toggle value="Stop">Stop</mat-button-toggle>
        </mat-button-toggle-group><br/>
        <label class="form-label mt-2">Pit State: {{state && state.pitState}}</label><br/>
        <label class="form-label mt-2">Alarm: {{state && state.alarmEnabled}}&nbsp;&nbsp;</label>
        <mat-button-toggle-group *ngIf="state" #group="matButtonToggleGroup" (change)="onAlarmStateSelect($event)">
          <mat-button-toggle value="Enable">Enable</mat-button-toggle>
          <mat-button-toggle value="Silence">Silence</mat-button-toggle>
        </mat-button-toggle-group><br/>
        <label class="form-label mt-2">Actions</label><br/>
        <mat-select *ngIf="state" (selectionChange)="onOperationSelect($event)" class="custom-select" placeholder="Select Operation">
          <mat-option *ngFor="let cmd of commands" [value]="cmd">{{cmd.friendlyName}}</mat-option>
        </mat-select>
        <label class="form-label mt-2">Water Depth: {{state && state.waterDepth}} in</label><br/>
        <label class="form-label mt-2">Chart Period:&nbsp;&nbsp;</label>
        <mat-button-toggle-group *ngIf="historicalMessages.length > 0" #group="matButtonToggleGroup" (change)="onChartPeriodSelect($event)">
          <mat-button-toggle aria-label="Hour" [value]="0">Hour</mat-button-toggle>
          <mat-button-toggle aria-label="Day" [value]="1">Day</mat-button-toggle>
          <mat-button-toggle aria-label="Week" [value]="2">Week</mat-button-toggle>
        </mat-button-toggle-group><br/>
        <div *ngIf="histChart && histChart.data && historicalMessages.length > 0" class="row my-4">
          <div class="col-6">
            <h3>History<sup>1, 2</sup></h3>
            <p-chart type="line" [options]="lineChartOptions" [data]="histChart.data"></p-chart>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
