
<div class="component-header">
  <h2>User Management</h2>
  <em>Create and manage users</em>
</div>
<div class="component-body">
  <form [formGroup]="form" (submit)="submit()">
    <h5>Manage/Edit User</h5>
    <div class="row my-4">
      <div class="col-4">
        <div class="form-outline">
          <input type="email" name="email" formControlName="email" class="form-control"/>
          <label class="form-label required mt-2" for="email">Email</label>
        </div>
      </div>
      <app-field-error-display
        [displayError]="isFieldValid('email')"
        errorMsg="Email is required">
      </app-field-error-display>
    </div>

    <div class="row my-4">
      <div class="col-4">
        <div class="form-outline">
          <input type="text" name="firstName" formControlName="firstName" class="form-control"/>
          <label class="form-label mt-2" for="firstName">First Name</label>
        </div>
      </div>
    </div>

    <div class="row my-4">
      <div class="col-4">
        <input type="text" name="lastName" formControlName="lastName" class="form-control"/>
        <label class="form-label mt-2" for="lastName">Last Name</label>
      </div>
    </div>

    <div class="row my-4">
      <div class="col-4">
        <button *ngIf="!submitted && !saved" type="submit" class="btn create">Save</button>
        <button *ngIf="!submitted" type="button" class="btn btn-danger" (click)="onBackClick()">Cancel</button>
        <button *ngIf="user && user.lockoutEnabled" type="button" class="btn btn-primary" (click)="onUnlockUserClick()">Enable</button>
        <button *ngIf="user && !user.lockoutEnabled" type="button" class="btn btn-primary" (click)="onLockUserClick()">Disable</button>
      </div>
    </div>
  </form>
</div>
