<div class="component-header">
  <h2>Access Control User Management</h2>
  <em>Create and Manage Access Control Users</em>
</div>
<div class="component-body">
  <h4>User Details</h4>
  <div class="row my-4">
    <div class="col-4">
      <label class="form-label mt-2">ID: {{user?.id}}</label><br/>
      <label class="form-label mt-2">Name: {{user?.name}}</label><br/>
      <label class="form-label mt-2">Created: {{user?.createdDate}}</label><br/>
      <label class="form-label mt-2">Active: {{user?.isActive}}</label><br/>
      <label class="form-label mt-2">Modified: {{user?.modifiedDate}}</label><br/>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <h5>Edit Card User</h5>
    <div class="row my-4">
      <div class="col-4">
        <div class="form-outline">
          <input name="pin" formControlName="pin" type="text" class="form-control"/>
          <label class="form-label required mt-2" for="pin">Pin</label>
        </div>
      </div>
      <app-field-error-display
        [displayError]="isFieldValid('pin')"
        errorMsg="Pin is required">
      </app-field-error-display>
    </div>

    <div class="row my-4">
      <div class="col-4">
        <button *ngIf="!submitted && !saved" type="submit" class="btn create">Save</button>
        <button *ngIf="!submitted" type="button" class="btn btn-danger" (click)="onBackClick()">Cancel</button>
      </div>
    </div>
  </form>
</div>
